body {
	font-family: roboto, sans-serif;
}

* {
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}
.container {
	max-width: 1100px;
	margin: auto;
}
.header-bg {
	background-color: rgba(239, 239, 239, 1);
	margin-bottom: 40px;
}
.nav-item {
	display: inline-block;
	margin-right: 30px;
	margin-top: 17px;
	margin-bottom: 17px;
}

.nav-list {
	text-align: center;
}

.nav-link {
	font-size: 14px;
	line-height: 16px;
	color: rgba(51, 51, 51, 1);
}

.header-left {
	float: left;
}

.header-right {
	float: right;
}

.logo-text {
	font-size: 36px;
	color: rgba(241, 60, 110, 1);
	line-height: 42px;
	font-weight: 700;
	letter-spacing: 0.1em;
}

.logo-text::before {
	content: " ";
	display: inline-block;
	height: 80px;
	width: 80px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	margin-right: 20px;
}

.phone {
	margin-right: 40px;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 1);
}

.header-button {
	text-align: center;
	border: 2px solid #f13c6e;
	background-color: #ffffff;
	border-radius: 40px;
	padding: 12px 26px;
	font-size: 14px;
	line-height: 16px;
	color: rgba(0, 0, 0, 1);
}
